@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC');

body {
  margin: 0;
  font-family: 'IM Fell DW Pica SC';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
