.arena-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.hud {
  padding: 3rem;
  width: 85%;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
}

.score {
  margin: 1rem;
}

.timer {
  margin: 1rem;
}

.hide-pointer {
  cursor: none;
}

.blinker {
  animation: warning 1s linear infinite;
}

@keyframes warning {
  50% {
    color: #e60000;
  }
}

.animation-message {
  position: absolute;
  font-size: 35pt;
  font-weight: bold;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
