.notification {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25pt;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  animation: slideUp 0.3s ease-in-out forwards;
}

.success {
  color: #39e600;
  text-shadow: 0 0 10px #424040;
}

.info {
  color: black;
}

.warn {
  color: orange;
  text-shadow: 0 0 10px #424040;
}

.error {
  color: #e60000;
  text-shadow: 0 0 10px #424040;
}

@keyframes slideUp {
  from {
    top: 100vh;
    opacity: 0;
  }
  to {
    top: 50vh;
    opacity: 0.9;
  }
}
