.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

table {
  width: 100%;
  font-size: 18pt;
}

td {
  text-align: center;
}

tr:nth-child(1) td:first-child {
  border-top-left-radius: 1rem;
}

tr:nth-child(1) td:last-child {
  border-top-right-radius: 1rem;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  min-width: 20vw;
}

.pagination-text {
  display: flex;
  align-items: center;
}

.gold {
  background-color: gold;
  font-size: 28pt;
  text-shadow: 0 1px 3px whitesmoke;
}

.silver {
  background-color: silver;
  font-size: 22pt;
}

.bronze {
  background-color: #cd7f32;
}
