.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  padding: 0.8rem;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  background-color: aqua;
  color: black;
  opacity: 0.7;
  font-size: 30pt;
}

.button-container:hover {
  opacity: 1;
}

.disabled {
  cursor: not-allowed;
  opacity: 1;
  background-color: #e0e0eb;
  color: #a3a3c2;
}
